In [28]:
from sas7bdat import SAS7BDAT as sas
import pandas

pandas.set_option('display.max_columns', 999)
pandas.set_option('display.max_rows', 20)

In [29]:
# adm3.sas7bdat is 50mb. loading takes a few seconds.
# instead we preview the header and the first ten items
import itertools
with sas('sas_data/adm3.sas7bdat') as f:
    gen = f.readlines()
    headers = next(gen)
    rows = list(itertools.islice(gen, 0, 10))
    dataframe = pandas.DataFrame(rows, columns=headers)
dataframe

,FEEYR,ATYPE,APP_DAY2,CTYPE,YEAR,BIR,VSTYPE,ADDATE,DISDATE,EDAY,SDAY,ICD1,ICD2,ICD3,ICD4,ICD5,OPC1,OPC2,OPC3,OPC4,OPC5,DDOT,MDOT,PDOT,ADOT,PNO,SEX,CITY,HTYPE,HID,PID,APPL_DATE2,yr
0,200612,1,20070109,1,145,197710,NaN,20061227,20061228,1,0,2113,,,,,4525,NaN,NaN,,,102,9233,923,8310,0,2,116,11,20465,tgguf,17175,2007
1,200610,1,20061117,2,294,197810,9,20061018,20061019,1,0,4784,,,,,3009,3142,NaN,,,85,17162,1716,20828,0,2,1201,11,7977,rznqh,17122,2006
2,200610,1,20061115,1,127,195012,NaN,20061023,20061031,8,0,41011,42490,2740,,,8872,8703,8952,,,2541,37979,3798,34181,0,1,3106,15,9041,qdili,17120,2006
3,200604,1,20060505,2,8,196902,NaN,20060404,20060405,1,0,4550,4553,,,,4946,NaN,NaN,,,433,16337,1634,21079,0,1,3702,15,7333,evjkl,16926,2006
4,200605,1,20060613,1,1837,196502,9,20060502,20060506,4,0,4739,38181,,,,2263,2262,2264,2,2,475,37451,3745,33706,0,2,3105,11,8061,eryml,16965,2006
5,200612,1,20070108,1,2821,194408,9,20061127,20061202,5,0,1459,,,,,2749,4040,NaN,,,1492,81309,0,81309,1,1,205,13,18939,enjmo,17174,2007
6,200611,1,20061208,1,2745,194408,9,20061110,20061116,6,0,1459,,,,,9925,NaN,NaN,,,4448,28239,0,28239,1,1,205,13,18939,enjmo,17143,2006
7,200610,1,20061108,1,2666,194408,9,20061023,20061029,6,0,1459,1120,,,,9925,NaN,NaN,,,5991,34678,3468,31210,0,1,205,13,18939,enjmo,17113,2006
8,200605,1,20060605,1,7344,196812,6,20060505,20060516,11,0,72210,,,,,8108,8051,7789,8,,1692,105883,10588,95295,0,1,3207,11,21249,exsds,16957,2006
9,200607,1,20060808,1,40,195804,6,20060705,20060709,4,0,V540,,,,,7861,NaN,NaN,,,401,14254,1425,12829,0,1,207,15,15754,relfv,17021,2006

In [30]:
with sas('sas_data/cancer3.sas7bdat') as f:
    dataframe = f.to_data_frame()
dataframe

,SEX,RESID,FDDAY,SG,HISTBEH,SITE,MSMETHOD,FVDAY,OP_DT,RTB_DT,CHDAY,HORMDAY,IMMUDAY,BMDAY,ID_S,PID,FDDAY2,yr
0,1,1705,20070711,9,81403,C343,1,20070711,0,0,20070731,0,0,0,1,ricza,17358,2007
1,2,2115,20070611,3,80103,C169,1,20070611,0,0,0,0,0,0,2,rlxiw,17328,2007
2,2,756,20071227,9,81703,C220,7,20071227,20071227,0,20071227,0,0,0,2,qxjzk,17527,2007
3,2,137,20071012,1,81403,C209,1,20071012,20071022,20080122,20071121,99999999,99999999,99999999,2,tazbp,17451,2007
4,2,1902,20071120,3,85003,C500,1,20071120,20071220,0,0,0,0,0,2,txdfh,17490,2007
5,2,453,20071114,1,85003,C501,1,20071114,20071211,0,0,20080407,0,0,2,qkgrm,17484,2007
6,2,737,20070205,9,80772,C529,1,20070310,20070329,0,0,0,0,0,2,etaoj,17202,2007
7,1,1907,20070313,9,80703,C341,1,20070313,0,0,20070406,0,0,0,1,wbzls,17238,2007
8,2,126,20070122,9,81403,C539,1,20070129,99999999,20070226,99999999,99999999,99999999,99999999,2,rtorv,17188,2007
9,2,1902,20071016,9,88903,C542,1,20071016,20071018,0,0,0,0,0,2,wizrm,17455,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7268,2,882,20071023,9,80903,C443,1,20071029,20071029,0,0,0,0,0,2,wdhcz,17462,2007
7269,2,2005,20071115,6,96803,C169,1,20071115,0,0,0,0,0,0,2,rasdj,17485,2007
7270,2,764,20071023,9,80772,C539,1,20071023,20071116,0,0,0,0,0,2,tcqca,17462,2007
7271,1,652,20070101,2,81402,C187,1,20070101,20070102,0,0,0,0,0,1,tfuxa,17167,2007
7272,2,2006,20070516,9,80003,C809,8,20070531,0,0,0,0,0,0,2,euskh,17302,2007
7273,2,322,20070323,9,81403,C680,1,20070323,20070323,99999999,99999999,99999999,99999999,99999999,2,tqwur,17248,2007
7274,1,1457,20071227,9,80462,C349,2,20071227,0,0,0,0,0,0,1,wupkt,17527,2007
7275,2,2115,20070522,2,85003,C504,1,20070522,99999999,99999999,20070601,99999999,99999999,99999999,2,qnsme,17308,2007
7276,2,768,20071108,9,81403,C180,1,20071108,0,0,20071129,0,0,0,2,qqmba,17478,2007
7277,2,2004,20071127,9,82603,C739,2,20071127,0,0,0,0,0,0,2,qasym,17497,2007

In [31]:
# opd3.sas7bdat is 5gb, too damn big to load all into a dataframe
# instead we preview the header and the first ten items
import itertools
with sas('sas_data/opd3.sas7bdat') as f:
    gen = f.readlines()
    headers = next(gen)
    rows = list(itertools.islice(gen, 0, 10))
    dataframe = pandas.DataFrame(rows, columns=headers)
dataframe

,FEEYR,ATYPE,APP_DAY,CTYPE,SN,CITY,HTYPE,HID,DID,VSTYPE,VSDAY,BIR,PNO,ICD1,ICD2,ICD3,OPC1,T_DOT,PDOT,TDOT,SEX,PID,APP_DAY2,YR
0,200602,1,20060309,19,297,3201,37,161403,wxtqaajejb,40,20060211,198207,H10,5243,NaN,None,,770,50,720,2,erlra,16869,2006
1,200605,1,20060607,1,964,2101,35,55584,ccopskyrqu,11,20060510,198207,D10,7080,NaN,None,,396,50,346,2,erlra,16959,2006
2,200607,1,20060807,1,215,203,25,338027,gxurzkwtcm,0,20060720,197108,D10,460,NaN,None,,425,50,375,1,erlsa,17020,2006
3,200603,1,20060403,1,1080,1705,35,71180,vatnpkveaw,0,20060318,199107,D10,462,NaN,None,,396,50,346,2,eihya,16894,2006
4,200603,1,20060403,1,1202,1705,35,71180,ivdinwvrlk,0,20060320,199107,D10,4659,NaN,None,,396,50,346,2,eihya,16894,2006
5,200607,1,20060814,9,537,1705,35,38728,ahnakixwyl,9,20060730,199107,D10,4619,NaN,None,,465,70,395,2,eihya,17027,2006
6,200607,1,20060814,9,303,1705,35,38728,ahnakixwyl,9,20060718,199107,D10,4619,38102,None,,539,70,469,2,eihya,17027,2006
7,200607,1,20060814,9,419,1705,35,38728,ahnakixwyl,9,20060724,199107,D10,38102,4619,None,,1261,70,1191,2,eihya,17027,2006
8,200607,1,20060814,9,236,1705,35,38728,ahnakixwyl,9,20060714,199107,D10,4619,3829,None,,538,70,468,2,eihya,17027,2006
9,200607,1,20060814,9,505,1705,35,38728,ahnakixwyl,9,20060727,199107,D10,4619,NaN,None,,531,70,461,2,eihya,17027,2006